:root {
  --main_page_header_body: #fff5ee;
  --chat_header_font_color: #F8F8F8;
  --main_bg_color: #282c34;
  --main_color:#9A8BAD;
  --darker_main_color: #6330a6;
  --half_main_bg_main: #282C34;
  --client_bubble_color: #7a6792;
  --server_bubble_color: #d6d9e8;
  --server_bubble_color_lighter: #bdc6ff;
  --app_link: #61dafb;
  --message_container_bg_color:#f2f2f3;
  --message_container_bg_color_darker: #e6e8eb;
  --social_media_icon_color: #544765;
}
body{
  background-color: var(--main_bg_color);

}

.Page-Header{
  text-align: center;
  padding-top: 5%;
  font-size: calc(10px + 2vmin);
  color: var(--main_page_header_body);
}

.Page-Body{
  padding: 5vw;
}

.Page-Body p{
  color: var(--main_page_header_body);
}

.Chat{
  color: black;
}

/* Unused;for references */
.App-link {
  color: var(--app_link);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
